<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- 10sec=10 -->
	<settings>
        <setting name="defaultStatementTimeout" value="10"/>
    </settings>

	<environments default="source">
		<environment id="source">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${sourceDbDriverClassName}" />
				<property name="url" value="${sourceDbUrl}" />
				<property name="username" value="${sourceDbUsername}" />
				<property name="password" value="${sourceDbPassword}" />
			</dataSource>
		</environment>
		<environment id="target">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${targetDbDriverClassName}" />
				<property name="url" value="${targetDbUrl}" />
				<property name="username" value="${targetDbUsername}" />
				<property name="password" value="${targetDbPassword}" />
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="sophia/copier/dao/xml/customTargetDao.xml" />
		<mapper resource="sophia/copier/dao/xml/customSourceDao.xml" />
	</mappers>
	
</configuration>

